<p-carousel [value]="carouseles" styleClass="custom-carousel" [numVisible]="1" [numScroll]="1" [circular]="true"
            [autoplayInterval]="7000" [responsiveOptions]="responsiveOptions">
  <p-header>
  </p-header>
  <ng-template let-car pTemplate="item">
    <div class="car-details">
      <div class="container">
        <div>
          <img src="assets/carousalImages/{{car.imageName}}.png" width="90%"/>
        </div>
        <div class="car-data centered">
          <h3 class="centered">Evolution</h3>
          <div class="car-title ql-blank ">{{car.brand}}</div>
          <div class="car-subtitle ql-blank">{{car.description}}</div>

          <!--<div class="car-buttons">-->
          <!--<button pButton type="button" class="ui-button-secondary" icon="pi pi-search"></button>-->
          <!--<button pButton type="button" class="ui-button-secondary" icon="pi pi-star"></button>-->
          <!--<button pButton type="button" class="ui-button-secondary" icon="pi pi-cog"></button>-->
          <!--</div>-->
        </div>
      </div>
    </div>
  </ng-template>
</p-carousel>

<router-outlet></router-outlet>
